<h1>Contact us</h1>

<h3>If you have any questions about our chocolate products, please don't hesitate to contact us!</h3>
<br>
<br>
<form class="visible">
  First name:<br>
  <input type="text" name="firstname" placeholder="Willy" ><br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="Wonka"><br>
  Email address:<br>
  <input type="text" name="email" placeholder="w.wonka@chocofactory.com"><br>
  Message:<br>
  <input id="message" type="text" name="message" ><br><br>
  <%= link_to "submit", welcome_responds_path, class: "btn btn-default btn-lg active"  %>
</form>
