
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.5);
}

#message {
  width: 40vw;
  height: 150px;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.5);
}

#message {
  width: 40vw;
  height: 150px;
}

.container {
  display: block;
}

.row {
  display: inline-block;;
}
