
<<<<<<< HEAD
||||||| merged common ancestors
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.5);
}

#message {
  width: 40vw;
  height: 150px;
}
=======
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.5);
}

#message {
  width: 40vw;
  height: 150px;
}

.container {
  display: block;
}

.row {
  display: inline-block;;
}
// .col-md-3 {
//   display: inline-block;
// }
// .col-xs-6 {
//   display: inline-block;
// }

>>>>>>> 4d9ab49ad13225f145105f2153e82d2c1468c86c
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
