<p>In shopping cart:</p>
<% @cart.each do |order| %>
<p><%= order[:quantity] %> x <%= order[:product].name %> </p>
<p>€ <%= order[:product].price %></p>
<% end %>
<p>Total price</p>
<p> € <%= @totalprice %> </p>
