<div id="slider">
<figure>
<img src="http://www.jennycancook.com/wp-content/uploads/2015/05/Chocolate-Almond-ClustersBlog1200_3448.jpg" alt="">
<img src="https://ichemepresident.files.wordpress.com/2014/08/chocolate-splash.jpg" alt="">
<img src="https://frenchbroadchocolates.com/wp-content/uploads/2014/03/IMG_6340.jpg" alt="">
<img src="http://easyholidaytreats.com/img/recipes/Hot-Chocolate.jpg" alt="">
<img src="http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2009/1/13/0/vday_chocolatestraw_4697_s4x3.jpg.rend.sniipadlarge.jpeg" alt="">
</figure>
</div>
