<div id="slider">
<figure>
<img src="http://www.jennycancook.com/wp-content/uploads/2015/05/Chocolate-Almond-ClustersBlog1200_3448.jpg" alt="">
<img src="https://ichemepresident.files.wordpress.com/2014/08/chocolate-splash.jpg" alt="">
<img src="https://frenchbroadchocolates.com/wp-content/uploads/2014/03/IMG_6340.jpg" alt="">
<img src="http://easyholidaytreats.com/img/recipes/Hot-Chocolate.jpg" alt="">
<img src="http://oboi-dlja-stola.ru/file/2904/760x0/16:9/%D0%96%D0%B8%D0%B4%D0%BA%D0%B8%D0%B9-%D1%88%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4.jpg" alt="">
</figure>
</div>
